@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: "Nunito";
  background-color: "#FFFFFF";
    padding: 0;
  margin: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  @apply bg-slate-100

}

.row-spacing{
  margin-bottom: 10px;
}

.react-calendar__tile {
  border: none;
}
.react-calendar {
  border: none;
}